@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Work+Sans:wght@400;500;600;700&display=swap');

html {
    box-sizing:border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

.about-me {
    max-width:1728px;
    background-color:black;
    display:flex;
}

.about-me-descripcion {
    margin-left:124px;
    margin-top:104px;
    margin-bottom: 103px;
}

.title-about-me {
    color:white;
    font-family:'Eczar',sans-serif;
    letter-spacing: 2%;
    line-height:125%;
    font-size:40px;
    margin-bottom: 42px;
}

.about-me-descripcion p {
    color: white;
    font-family:'Work Sans',sans-serif;
    letter-spacing: 2%;
    line-height: 150%;
    font-size:20px;
    width:732px;
}

.foto-about-me {
    width: 856px;
    height:731px;
}

.contact-me {
    width:224px;
    height:60px;
    color:white;
    background-color: black;
    border-radius: 5px;
    font-family:'Work Sans', sans-serif;
    font-size:20px;
    font-weight:600;
    border: 4px solid white;
    margin-top:42px;

}

.titulo-work-together {
    font-family: 'Eczar', sans-serif;
    font-size: 64px;
    line-height: 125%;
    letter-spacing: 2%;
    font-weight:600;
}

.input-first-name, .input-last-name, .input-subject, .input-email, .input-text-area {
    border-radius:30px;
    border:none;
    background-color:rgba(196,196,196,0.3);
    font-family:'Work Sans', sans-serif;
    font-size:20px;
    line-height:150%;
    font-weight:600;
    padding:30px;
    
}

.input-first-name, .input-last-name, .input-subject, .input-email {
    height:87px;
}

.input-first-name, .input-last-name {
    width: 360px;
}

.input-subject {
    width: 265px;
}

.input-email {
    width: 455px;
}

.input-text-area {
    width: 736px;
    height: 211px;
}

.send-message {
    width:224px;
    height:60px;
    color:black;
    background-color: white;
    border-radius: 5px;
    font-family:'Work Sans', sans-serif;
    font-size:20px;
    font-weight:600;
    border: 4px solid black;
}

.work-together {
    display: inline-block;
}

.input-grupo1 {

}








