html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
header {
  max-width: 1728px;
  padding: 32px 122.67px 34px 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.header {
  display: flex;
  gap: 16px;
  align-items: center;
}
.header_logo p {
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 42px;
}
.header_nav nav ul {
  display: flex;
  gap: 32px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  line-height: 30px;
}
.header_nav nav ul li {
  list-style: none;
}
.header_nav nav ul li a {
  text-decoration: none;
  color: #1b1a19;
}

.header_iconos img {
  width: 32px;
  margin-left: 29.33px;
}
.section_container {
  max-width: 1728px;
  padding-left: 122px;
  padding-right: 132px;
  display: flex;
}
.article_container {
  margin-top: 102px;
  width: 50%;
}
.article_img {
  width: 50%;
  margin-top: 54px;
}
.article_img img {
  width: 100%;
}
.article_container p {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
}
.article_container .article_container_hello {
  padding: 12px 24px;
  background-color: #090909;
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
  border-radius: 10px;
}
.contenedor_button {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.article_container .contenedor_button .contenedor_button1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  background-color: #090909;
  padding: 15px 20px 15px 24.5px;
  text-align: center;
  margin-right: 22px;
}
.contenedor_button .contenedor_button2 {
  background-color: #090909;
  padding: 15px 20px 15px 24.5px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #4d5566;
  background-color: #e5e5e5;
  padding: 15px 55px;
  font-size: 20px;
  border: 4px solid #000000;
}
.cards {
  max-width: 1728px;
  padding: 32px 122.67px 34px 120px;
  margin-top: 115px;
  background: rgba(0, 0, 0, 0.93);
  font-family: "Work Sans", sans-serif;
}
.card_conteiner-text {
  width: 58.6%;
}
.card_conteiner-img {
  width: 42.4%;
}
.card_conteiner-img img {
  width: 100%;
  height: 100%;
}
.card_conteiner {
  margin-top: 27px;
  display: flex;
  width: 100%;
}
.card_titles {
  display: flex;
  align-items: center;
  gap: 61px;
  margin-bottom: 60px;
}
.card_titles span {
  color: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 5px;
  font-size: 20px;
  padding: 15px 38.5px;
  font-weight: 600;
}
.card_titles h3 {
  font-weight: 600;
  font-size: 40px;
  color: #fffefc;
  font-family: "Eczar", serif;
  line-height: 50px;
}
.card_conteiner-text {
  width: 58.6%;
  margin: 0;
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 48px 140px 66px 114px;
}
.card_conteiner-text h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: #000000;
}
.card_conteiner-text p {
  color: #594f43;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.card_conteiner-text span {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.carrucel {
  max-width: 1728px;
  margin: 118px 96.67px 187.67px 118px;
}
.carrucel_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrucel_title h3 {
  font-family: "Eczar", serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #020202;
}
.carrucel_title span {
  color: #594f43;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
}
.carrucel_container {
  width: 100%;
  display: flex;
  margin-top: 130px;
}
.carrucel_container-left img {
  width: 25.08px;
}
.carrucel_container-left {
  width: 50%;
  display: flex;
  gap: 94.25px;
  align-items: center;
  padding-right: 96px;
  position: relative;
}
.carrucel_container-right img {
  width: 25.08px;
}
.carrucel_container-left p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #030303;
  text-align: center;
  margin-bottom: 4px;
}

.carrucel_container-left span {
  color: #030303;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  line-height: 25px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 44%;
}
.carrucel_container-right {
  width: 50%;
  display: flex;
  gap: 94.25px;
  align-items: center;
  padding-left: 96px;
  position: relative;
}

.carrucel_container_right-text p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #030303;
  text-align: center;
  margin-bottom: 4px;
}
.carrucel_container_right-text span {
  color: #030303;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  line-height: 25px;
  font-size: 20px;
  position: absolute;
  left: 44%;
}

.carrucel_iconos {
  display: flex;
  gap: 26.67px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
.carrucel_iconos img {
  width: 32px;
}
.conatiner_inf {
  max-width: 1728px;
  display: flex;
}
.conatiner_inf-text {
  width: 50%;
  color: #ffffff;
  background-color: #000000;
}
.conatiner_inf-img {
  width: 50%;
}
.conatiner_inf-img img {
  width: 100%;
  height: 100%;
}
.conatiner_inf-text {
  padding: 104px 12px 108px 128px;
}
.conatiner_inf-text h3 {
  font-family: "Eczar", serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 42px;
}
.conatiner_inf-text p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.conatiner_inf-text .parrafo_p,
.conatiner_inf-text .parrafo_s {
  padding-bottom: 42px;
}
.conatiner_inf-text span {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  padding: 15px 55px;
  font-size: 20px;
  line-height: 30px;
  border: 5px solid #ffffff;
  margin-bottom: 2rem;
}
.container_formulario {
  max-width: 1728px;
}
.container_formulario-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_formulario-text-title h3 {
  font-family: "Eczar", serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  margin-top: 167px;
  margin-bottom: 43px;
}
.container_formulario-text-superior input {
  width: 360px;
  height: 87px;
  padding-top: 29px;
  padding-bottom: 28px;
  padding-left: 29px;
  border-radius: 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  background: rgba(196, 196, 196, 0.3);
  border: none;
  font-size: 20px;
  color: #000000;
}
.container_formulario-text-superior input::placeholder {
  color: #000000;
  line-height: 30px;
}
#input {
  margin-right: 16px;
}
.container_formulario-text-inputcentral input[type="text"] {
  width: 265px;
  height: 87px;
  padding-top: 29px;
  padding-bottom: 28px;
  padding-left: 29px;
  border-radius: 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  background: rgba(196, 196, 196, 0.3);
  border: none;
  font-size: 20px;
  color: #000000;
  margin-top: 34px;
}
.container_formulario-text-inputcentral input[type="email"] {
  width: 455px;
  height: 87px;
  padding-top: 29px;
  padding-bottom: 28px;
  padding-left: 29px;
  border-radius: 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  background: rgba(196, 196, 196, 0.3);
  border: none;
  font-size: 20px;
  color: #000000;
  margin-top: 34px;
}
#separacion {
  margin-right: 16px;
}
.container_formulario-text-inputcentral input[type="email"]::placeholder {
  color: #000000;
  line-height: 30px;
}
.container_formulario-text-inputcentral input[type="text"]::placeholder {
  color: #000000;
  line-height: 30px;
}
.container_formulario-text-area textarea {
  margin-top: 34px;
  width: 736px;
  height: 211px;
  padding-top: 21px;
  padding-bottom: 160px;
  padding-left: 33px;
  border-radius: 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  background: rgba(196, 196, 196, 0.3);
  border: none;
  font-size: 20px;
  color: #000000;
}
.container_formulario-text-area textarea::placeholder {
  color: #000000;
  line-height: 30px;
}
.container_formulario-text-button button {
  padding: 15px 41.5px;
  background-color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  line-height: 30px;
  margin-top: 58px;
  border: 4px solid #000000;
}
.footer_pie {
  max-width: 1728px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 137px;
  height: 187px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
